<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${cabecera}"></h1>
	<form th:action="@{/usuario/form}" th:object="${usuario}" method="post">
		Nombre
		<input type="text" th:field="*{nombre}">
		<br/>
		Email
		<input type="text" th:field="*{email}">
		<br/>
		Telefono
		<input type="text" th:field="*{telefono}">
		<br/>
		
		
		
		<input type="submit" value="Guardar">
		
		<input type="submit" value="Editar listado">
		<input type="hidden" th:field="*{id}"/>
	</form>
	
	
	

</body>
</html>