<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
		<style>
		table {
			border-collapse: collapse;
			margin: 0 auto;
			/* Margen automático para centrar horizontalmente */

		}

		td,
		th {
			border: 1px solid darkgray;
			padding: 8px;
			text-align: center;
		}
	</style>
</head>

<body>

	
	<h2 th:text="${tituloH2}"></h2>

	<a href="http://localhost:8080/home">Inicio</a>
	
	
	
	
	
	<table>
		<theader>
			<tr>				
				<td>Id</td>
				<td>Nombre</td>
				<td>Autor</td>
				<td>Editorial</td>
				<td>Disponible</td>
				<td>Cantidad</td>
				<td>Acciones</td>
				
				
				
			</tr>
		</theader>
		<tbody>
			<tr th:each="libro :${nomLibros}">
				<td th:text = "${libro.id}"></td>
				<td th:text = "${libro.nombre}"></td>
				<td th:text = "${libro.autor}"></td>
				<td th:text = "${libro.editorial}"></td>
				<td th:text = "${libro.disponible}"></td>
				<td th:text = "${libro.cantidad}"></td>
				<td>
					<a th:href="@{/catalogo/info/} + ${libro.id}">Info</a>
					
					
				

						
					<!--<a th:href="@{/Libro/borrar} + ${libro.id}">Borrar</a>-->
					</td>
					
			</tr>
		</tbody>

	</table>

</body>

</html>